@import url(week3.css);
#skills {
  background-color: lightgray; }

#stufficando {
  background-color: lightgray; }

#resume {
  background-color: lightgray; }

#contactme {
  background-color: lightgray; }

.headingA {
  font-size: 20px; }

.headingB {
  font-size: 20px; }
